<!-- Assignment_1 //  Zachary Havers // 301202845 --> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!--CSS Section-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
  </head>
  <body>

    <!--Main Navigation-->
    <%- include('partials/header.ejs') %>

    <!-- Main Content-->
    <main class="container">
        <div class="row">
            <div class="col-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
            <!--Header Row-->
            <tr class="d-flex">
                <th class="text-center col-4">Name</th>
                <th class="text-center col-1">Phone</th>
                <th class="text-center col-4">Birthday</th>
                <th class="text-center col-4">Email</th>
            </tr>
            <!--Repeatable Template Row-->
            <% for(let count = 0; count<ContList.length; count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-4"><%=ContList[count].Name %></td>
                    <td class="text-center col-1"><%=ContList[count].Phone %></td>
                    <td class="text-center col-4"><%=ContList[count].Birthday %></td>
                    <td class="text-center col-4"><%=ContList[count].Email %></td>
                </tr>
            <% } %>
            </table>
            </div>
        </div>
    </main>



    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>

    <!--Script Section-->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
  </html>